#rest{
    background-image: linear-gradient(to bottom right, lightblue, cyan);
    text-align: left;
    justify-content:left;
    /* margin:5px; */
    height:497px;
}
h1{
    margin-left:10px;
}
.cat{
    font-weight: bold;
    text-decoration: underline;
}
table, th, td{
    /* border:5px solid black; */
    padding:5px;
}
img:hover{
    cursor:pointer;
}
#profile{
    text-align:left;
    position:relative;
    left:0px;
    font-size:30px;
    margin:10px;
}
.mid{
    background-color: rgba(231, 223, 213, 0.63);
    height:200px;
    width:100%;
    padding:30px;
    border-bottom:5px solid black;
}
ul#header{
    list-style-type:none;
    float:left;
}
ul#header li{
    float:left;
    margin:10px
}
#headerName{
    font-size:60px;
    margin:5px;
}
#headerEmail{
    margin:5px;
}
/* #footer{
    font-size:20px;
    background-color:red;
    border:2px solid red;
    border-radius:12px;
    padding: 5px 0px;
    width:50px;
    position:relative;
} */
#footer{
    /* margin:50px; */
    text-decoration: none;
    padding:5px;
    font-size: 20px;
}
